.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 

}

.Forms {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Header{
    font-size: 50px;
    color: orange;
    padding-top : 20px;
}