
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #1E1E1E;
    padding: 10px 20px; 
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px; 
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: orange;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px; 
    margin: 0;
    padding: 0;
}

.nav-links li {
    list-style: none;
}

.link {
    text-decoration: none;
    font-size: 18px; 
    font-weight: bold;
    color: orange;
    padding: 2px 8px 12px 4px;
    transition: color 0.3s ease;
}

.link:hover {
    color: white; 
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: #2B2B2B;
    color: white;
}

.user-menu {
    position: relative;
  }
  
  .user-greeting {
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  
  .logout-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: #333;
    padding: 10px;
    border-radius: 4px;
    min-width: 120px;
    z-index: 1000;
  }
  
  .logout-dropdown button {
    background: none;
    border: none;
    color: orange;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 5px;
  }
  
  .logout-dropdown button:hover {
    color: white;
  }